body{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.labels{
    text-align: center;
    margin-top: 300px;
}

label{
    font-size: 24px;
}

button{
    border-radius: 24px;
    width: 120px;
    height: 48px;
    font-size: 18px;
}

.back{
    text-align: center;
    margin-top: 8px;
}